
$background-color-light: #fff;
$background-color-dark: #000;

$background-edit-light: #f3f3f3;
$background-edit-dark: #333;

$background-color-second-light: #f3f3f3;
$background-color-second-dark: #666;

$background-theme-light: #1c9efd;
$background-theme-dark: #0073c5;

$text-color-light: #000;
$text-color-dark: #fff;

$text-color-second-light: #666;
$text-color-second-dark: #aaa;

$text-icon-light: #666;
$text-icon-dark: #ccc;
